@import 'variable';
@import 'contact';
@import 'about';
@import 'project';
@import 'menu-name';


*{
    margin: nth($size,1);
    padding:nth($size,1);
    text-decoration: none;
    list-style: none;
}
.photo{
   position: relative;
     background-size: cover;  
    background-image: radial-gradient( circle farthest-corner at 50.3% 44.5%,  rgba(116,147,179,1) 0%, rgba(62,83,104,1) 100.2% ) ;
    width: $width;
    height: $width;
}


    body{
    
    width: $width;
    height: $width;
    font-family: 'Shrikhand';
    margin:nth($size,1) ;
    padding: nth($size,1);
    

  

    
   

}
/*my name set up*/


.profile{
    margin:  nth($size,4);
    padding-top: 200px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    overflow: hidden;
    height: $width;
    

    img{
        border: 5px solid $white ;
    border-radius: 50%;
    animation:second 2s  ease-in-out  backwards;
    }
    
    h1{
        -webkit-animation: first 0.8s  both;
        animation: first 0.8s  both;
        animation-delay: 2s;
        .mini{
            color: $white;
        }
        color: $nav;
       font-size:25px ; }
       
    h2{
        color: $h3color;
        font-size: nth($size,4);
    }
}

/*animation for  my photo*/

@keyframes second {
    0%{ transform: rotate(0deg);}
    100%{ transform: rotate(360deg);}
}





/*animation for my name*/

@-webkit-keyframes first {
    0% {
      letter-spacing: -0.5em;
      opacity:nth($opasity,2) ;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity:nth($opasity,3) ;
    }
  }

@keyframes first {
    0% {
        letter-spacing: -0.5em;
        opacity:nth($opasity,2) ;
      }
      40% {
        opacity: 0.6;
      }
      100% {
        opacity:nth($opasity,3) ;
      }
}




 



/*style for footer*/
footer{
    
    position: relative;
    color: $white;
    text-align: center;
    border-top: 2px solid $ani;
    border-radius: 20%;
    margin-top:30%;
   
}

  










/*media quary for all*/

@media all and (min-width:800px){

footer{
    bottom:-40% ;
}

  /*my name big font and row dispaly for home page*/
    .profile{
        padding-top: 50px;
        display: flex;
        flex-direction: row;
        align-items:center;
        justify-content: center;
        h1{   
           font-size:nth($size,6) ; }
    }


 /*padding and boig fnt size for contact page*/
     .info{
    .h3{
        padding: nth($size,5);
        margin:nth($size,4) ;

        .text{
            font-size:nth($size,5) ;
            margin:nth($size,5);
            padding: nth($size,5)  nth($size,6)
    }
    }
}

      
    /*contact,about,project heading font size*/ 
      .name-6{
        font-size:nth($size,7) ;   
    }
    .name-5{
        font-size: nth($size,6);
    }
    
    
    /*padding and boig font size,icon  for about page*/ 
      .full{
        margin:nth($size,3) ;

        #name-3{
            
           font-size: nth($size,4);
        }
    }
    
    .info2{
        margin:nth($size,3) ;
        .line{
          
            .icon{
               font-size:nth($size,5) ;
               
            }
            h4{
                color: $name;
                font-size:nth($size,5) ;
                padding-left: nth($size,3);
                margin-top:nth($size,3) ;
            }    
        }
    }
    /* for about page*/ 
    .clo{ 
      margin-bottom: nth($size,3);
      font-size:nth($size,4) ;
        }

        /* for project page*/
        .view{

            display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
            
        }
    }
